/*Sección Hobbies*/

.hobbies__title{
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    color: var(--color-letra);
}
.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 11%; 
}
.img__serie{
    background: url(../assets/musica.svg) center /cover no-repeat;
}
.img__videojuego{
    background: url(../assets/futbol.svg) center /cover no-repeat;
}
.img__musica{
    background: url(../assets/serie.svg) center /cover no-repeat;
}
    